<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.reem_codes.gp_android">

    <application
        android:screenOrientation="portrait"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="My Smart Home"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.FullScreen"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:parentActivityName=".activity.MainActivity"
            android:name=".activity.CommandListActivity">
        </activity>

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:parentActivityName=".activity.MainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden|adjustPan"
            android:name=".activity.LoginActivity">
        </activity>

        <activity
            android:parentActivityName=".activity.MainActivity"
            android:name=".activity.RaspberryActivity">
        </activity>
    </application>

</manifest>